/* Fonts */

/* Montserrat 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/* Fraunces 700 */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,700&display=swap');

/* Variables */
:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);   
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%); 
}

html {
    font-size: 62.7%;
}

.general__container {
    width: 100%;
    height: 100vh;
    background-color: var(--Cream);
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border__container {
    background-color: var(--White);
   max-width: 70rem;
    border-radius: 1.6rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.image__container, .content__container {
    flex-basis: 50%;
}

.image {
    width: 100%;
    display: block;
}

.content__container {
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.category {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    font-weight: 500;
    color: var(--Very-dark-blue);
}

.name {
    font-size: 3.5rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    line-height: 3.5rem;
    color: var(--Dark-cyan);
}

.info {
    font-size: 1.6rem;
    font-family: 'Montserrat', serif;
    font-weight: 500;
    color: var(--Very-dark-blue);
}

.price__container {
    width: 100%;
    font-weight: 700;
    font-family: 'Fraunces', serif;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.current__price {
    font-size: 5rem;
    color: var(--Dark-cyan);
}

.old__price {
    font-size: 1.6rem;
    color: var(--Dark-grayish-blue);
}

.button__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cta {
    cursor: pointer;
    width: 100%;
    padding: 1.8rem 0;
    border-radius: 1rem;
    background-color: var(--Dark-cyan);
    color: var(--White);
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 2px solid var(--White);
    transition: all 1.5s ease;
}

.cta__image {
    width: 1.5rem;
}

.cta:hover {
    color: var(--Dark-cyan);
    background-color: var(--White);
    border: 2px solid var(--Dark-cyan);
}

.cta:hover .cta__image {
    color: var(--Dark-cyan);
    display: none;
}

/* Frontend's mentor style */
.attribution {
    padding: 0.5rem; 
    font-size: 2rem; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    font-family: 'Montserrat', serif;
}

@media screen and (max-width: 680px) {
    .border__container {
        flex-wrap: wrap;
        width: 100%;
        max-width: 50rem;
    }

    .image__container {
        min-width: 100%;
        display: flex;
        height: 20%;
    }

    .content__container {
        min-width: 100%;
        gap: 1rem;
    }

    .attribution {
        font-size: 1.2rem;  
    }
}

@media screen and (max-width: 450px){
    .content__container {
        gap: 1rem;
    }

    .name {
        font-size: 3rem;
    }

    .price__container {
        gap: 1.4rem;
    }

   .current__price {
    font-size: 3rem;
   }
   
   .old__price {
    font-size: 1.4rem;
   }
}

@media screen and (max-device-width: 1000px) and (orientation: landscape) {
    .general__container {
        min-height: 150vh;
    }
}